<footer class="footer section">
    <div class="container">
      <div class="flex-row">
        <div class="flex-column">
          <a href="/" class="footer_logo">
            <img src="./assets/images/footer/Group300.svg" alt="Company Logo">
          </a>
          <p class="footer_text">
            Contact Us Today to Empowering Your Online Presence!
          </p>
        </div>
        <div class="flex-column">
          <a href="tel:+19414020472" class="footer_tel">+1 (941) 402-0472</a>
          <ul class="footer_social list-reset">
            <li><a href="https://www.facebook.com"><img src="./assets/images/footer/Facebook.svg" alt="Facebook" width="28" height="28" loading="lazy"></a></li>
            <li><a href="https://www.instagram.com"><img src="./assets/images/footer/Instagram.svg" alt="Instagram" width="28" height="28" loading="lazy"></a></li>
            <li><a href="https://www.linkedin.com"><img src="./assets/images/footer/LinkedIn.svg" alt="LinkedIn" width="28" height="28" loading="lazy"></a></li>
            <li><a href="https://www.twitter.com"><img src="./assets/images/footer/Twitter.svg" alt="Twitter" width="28" height="28" loading="lazy"></a></li>
          </ul>
        </div>
      </div>
  
      <div class="grid-row">
        <ul class="list-reset footer_menu">
          <li class="menu_title"><a href="/about">ABOUT US</a></li>
          <li><a href="/process">The Process</a></li>
          <li><a href="/guarantee">The Guarantee</a></li>
          <li><a href="/legal-info">Legal Info</a></li>
        </ul>
        <ul class="list-reset footer_menu">
          <li class="menu_title"><a href="/services">SERVICES</a></li>
          <li><a href="/web-design">Web Design</a></li>
          <li><a href="/web-app-development">Web App Development</a></li>
          <li><a href="/seo">SEO Services</a></li>
          <li><a href="/hosting">Hosting</a></li>
        </ul>
        <ul class="list-reset footer_menu">
          <li class="menu_title"><a href="/resources">RESOURCES</a></li>
          <!-- <li><a href="/blog">Blog</a></li> -->
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/support">Support</a></li>
        </ul>
        <ul class="list-reset footer_menu">
          <li class="menu_title"><a href="/contact">CONTACT</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/location">Our Location</a></li>
          <li><a href="/careers">Careers</a></li>
        </ul>
      </div>
  
      <ul class="flex-row footer_copyright list-reset">
        <li><a href="/">&copy; 2024 empstateweb.com</a></li>
        <li><a href="/privacy-policy">Privacy Policy</a></li>
        <li><a href="/terms-of-service">Terms of Service</a></li>
        <li><a href="/legal-disclaimer">Legal Disclaimer</a></li>
      </ul>
    </div>
  </footer>
  