<footer>
  <ul class="footer-menu">
    <li><a href="/aboutus.html">Staff</a></li>
    <li><a href="/resources.html">Resources</a></li>
    <li><a href="/expertise.html">Expertise</a></li>
    <li><a href="/clients.html">Clients</a></li>
    <li><a href="/form.html">Ask Us</a></li>
  </ul>
</footer>
