<footer id="footer">
  <nav class="footer-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="govPrtnr.htm">Overview</a></li>
      <li><a href="profile.htm">Profile</a></li>
      <li><a href="Contact.htm">Contact Us</a></li>
    </ul>
  </nav>
</footer>
