<div class="responsive-bar">
  <span class="full-info">
    <strong>Sierra Cybernetics Inc.</strong>, 5140 E La Palma Ave, Anaheim, CA
    92807, Established in 1981, Phone:
    <a href="tel:+17149211212" class="phone-link"> (714) 921-1212</a>
  </span>
  <span class="short-info">
    <strong>Sierra Cybernetics Inc.</strong>, Established in 1981, Phone:<a
      href="tel:+17149211212"
      class="phone-link"
    >
      (714) 921-1212</a
    >
  </span>
  <span class="minimal-info">
    <span class="established">Established in 1981</span>
    <span class="phone">
      Phone:
      <a href="tel:+17149211212" class="phone-link">(714) 921-1212</a>
    </span>
  </span>
</div>
<div id="header">
  <div class="header-content">
    <div class="company-info">
      <p><strong>Sierra Cybernetics Inc.</strong></p>
      <p>5140 E La Palma Ave, Anaheim, CA 92807</p>
      <p>
        <strong>Phone:</strong>
        <a href="tel:+17149211212" class="phone-link">(714) 921-1212</a>
      </p>
      <p><strong>Established in 1981.</strong></p>
    </div>
  </div>
</div>
<button class="menu-toggle">☰ Menu</button>
<ul id="navlist" class="collapsed">
  <li><a id="n1" href="/">Home</a></li>
  <li><a id="n2" href="govPrtnr.htm">Overview</a></li>
  <li><a id="n3" href="profile.htm">Profile</a></li>
  <li><a id="n4" href="Staff.htm">Our Staff</a></li>
  <li><a id="n5" href="Engineering.htm">Engineering</a></li>
  <li><a id="n6" href="contracts.htm">Contracts</a></li>
  <li><a id="n7" href="SeaPorte.htm">Seaport-e</a></li>
  <li><a id="n8" href="employment.htm">Employment</a></li>
  <li><a id="n9" href="Contact.htm">Contact Us</a></li>
</ul>
