<header class="header">
    <div class="container">
        <div class="flex-row">
            <a href="/" class="header_logo">
                <img src="./assets/images/header/logo.svg" alt="logo" width="116" height="80">
            </a>
            <nav>
                <ul class="list-reset header_menu">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/services">SERVICES</a></li>
                    <li><a href="/pricing">PRICING</a></li>
                    <li><a href="/portfolio">PORTFOLIO</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </nav>
            <div class="flex-row">
                <a href="https://wa.me/19414020472" class="header_mess">
                    <img src="./assets/images/header/WhatsApp.svg" alt="WhatsApp" width="26" height="26">
                </a>
                <a href="tel:+19414020472" class="header_tel">+1 (941) 402-0472</a>
            </div>
            <div class="burger-menu" id="burger-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <div class="header_mobile" style="background-image: url('./assets/images/header/Background.png');">
        <ul class="list-reset header_mobile_list">
            <li><a href="/">
                <img src="./assets/images/header/logo.svg" alt="logo" width="174" height="120">
            </a></li>
            <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/services">SERVICES</a></li>
                <li><a href="/pricing">PRICING</a></li>
                <li><a href="/portfolio">PORTFOLIO</a></li>
                <li><a href="/contact">CONTACT</a></li>
            <li>
                <a href="https://wa.me/19414020472" class="header_mess">
                    <img src="./assets/images/header/WhatsApp-w.svg" alt="WhatsApp" width="26" height="26">
                </a>
                <a href="tel:+19414020472" class="header_tel">+1 (941) 402-0472</a>
            </li>
        </ul>
    </div>
</header>
<script>
    window.addEventListener('scroll', function() {
    const header = document.querySelector('.header');
    if (window.scrollY > 0) {
        header.classList.add('sticky');
    } else {
        header.classList.remove('sticky');
    }
});
</script>