<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta') %>
    <link rel="canonical" href="/clients.html" />
    <title>Clients - NovaComp Engineering, Inc.</title>
    <meta name="author" content="NovaComp Engineering, Inc." />
    <meta
      name="description"
      content="Explore NovaComp Engineering's extensive list of high technology clients."
    />
    <meta
      name="keywords"
      content="NovaComp, clients, high technology, engineering clients"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Clients - NovaComp Engineering, Inc." />
    <meta
      property="og:description"
      content="Explore NovaComp Engineering's extensive list of high technology clients."
    />
    <meta property="og:url" content="/clients.html" />
    <meta property="og:site_name" content="NovaComp Engineering, Inc." />
  </head>
  <body>
    <div class="page">
      <button class="menu-toggle">☰ Menu</button>
      <div class="sidebar">
        <div class="menu">
          <button
            class="menu-button"
            onclick="window.location.href='aboutus.html';"
          >
            Staff
          </button>
          <button
            class="menu-button"
            onclick="window.location.href='resources.html';"
          >
            Resources
          </button>
          <button
            class="menu-button"
            onclick="window.location.href='expertise.html';"
          >
            Expertise
          </button>
          <button
            class="menu-button"
            onclick="window.location.href='clients.html';"
          >
            Clients
          </button>
          <button
            class="menu-button"
            onclick="window.location.href='form.html';"
          >
            Ask Us
          </button>
        </div>
      </div>
      <div class="content">
        <header>
          <a href="/">
            <img
              class="header-logo"
              src="assets/images/clients_ban.gif"
              alt="NovaComp Engineering, Inc."
            />
          </a>
          <h1 class="title">Clients</h1>
        </header>
        <main>
          <p>
            NovaComp Engineering client list is extensive and includes some of
            the most recognized high technology corporations in the world. Our
            clients include:
          </p>
          <ul class="client-list">
            <li>Boeing</li>
            <li>Lockheed</li>
            <li>Nova-Tech Engineering</li>
            <li>Dowty Aerospace Yakima</li>
            <li>Primex Aerospace</li>
            <li>Composite Horizons</li>
            <li>Perstorp Plastic Systems</li>
            <li>Trinity Flywheel Power</li>
            <li>Ballard Power Systems</li>
            <li>MARC Analysis Research Corporation</li>
            <li>J&L Fiber Services</li>
            <li>Frigoscandia</li>
            <li>Mikron Industries</li>
            <li>Measurement Technology Northwest</li>
            <li>Romac Industries</li>
            <li>MDE Engineers</li>
            <li>Trans Marine Propulsion Systems</li>
            <li>Sunds Defibrator</li>
            <li>Lawrence Livermore National Laboratory</li>
            <li>Quest Integrated</li>
            <li>Lockwood Greene</li>
            <li>Jesse Engineering</li>
            <li>Precor</li>
            <li>Scougal Rubber</li>
            <li>Aviamet</li>
            <li>Flow International</li>
            <li>Lab/Cor</li>
            <li>Ingersoll-Rand</li>
            <li>Brod & McClung – Pace</li>
            <li>Applied Graphics</li>
            <li>Shock Control Systems</li>
            <li>SunLink Corporation</li>
            <li>NSE Composites</li>
            <li>Smiths Aerospace</li>
            <li>FMC Technologies</li>
            <li>Aerojet</li>
            <li>General Dynamics</li>
            <li>MSC Software</li>
            <li>Kent Engineering</li>
            <li>NetAcquire Corporation</li>
          </ul>
        </main>
        <%- include('partials/footer') %>
      </div>
    </div>
    <script>
      document
        .querySelector('.menu-toggle')
        .addEventListener('click', function () {
          document.querySelector('.sidebar').classList.toggle('show');
        });
    </script>
  </body>
</html>