<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="robots" content="noindex">
    <%- include('partials/meta') %>
    <link rel="canonical" href="/" />
    <title>NovaComp Engineering, Inc. - Bothell, WA</title>
    <meta name="author" content="NovaComp Engineering, Inc." />
    <meta
      name="description"
      content="NovaComp Engineering, Inc. - Accurate and cost-efficient engineering services."
    />
    <meta
      name="keywords"
      content="Novacomp, engineering, consulting, FEA, finite element, stress analysis, heat transfer"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="NovaComp Engineering, Inc. - Bothell, WA"
    />
    <meta
      property="og:description"
      content="NovaComp Engineering, Inc. - Accurate and cost-efficient engineering services."
    />
    <meta property="og:url" content="/" />
    <meta property="og:site_name" content="NovaComp Engineering, Inc." />
    <meta property="og:image" content="assets/images/header/primary.webp" />
    <meta property="og:locale" content="en_US" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:domain" content="/" />
    <meta
      name="twitter:title"
      content="NovaComp Engineering, Inc. - Bothell, WA"
    />
    <meta
      name="twitter:description"
      content="NovaComp Engineering, Inc. - Accurate and cost-efficient engineering services."
    />
    <meta name="twitter:image" content="assets/images/primary.webp" />
  </head>
  <body>
    <div class="page">
      <div class="mobile-header">
        <button class="menu-toggle">☰ Menu</button>
      </div>
      <div class="sidebar">
        <div class="menu">
          <button
            class="menu-button"
            onclick="window.location.href='aboutus.html';"
          >
            Staff
          </button>
          <button
            class="menu-button"
            onclick="window.location.href='resources.html';"
          >
            Resources
          </button>
          <button
            class="menu-button"
            onclick="window.location.href='expertise.html';"
          >
            Expertise
          </button>
          <button
            class="menu-button"
            onclick="window.location.href='clients.html';"
          >
            Clients
          </button>
          <button
            class="menu-button"
            onclick="window.location.href='form.html';"
          >
            Ask Us
          </button>
        </div>
      </div>
      <div class="content">
        <header>
          <a href="/">
            <img
              class="header-logo"
              src="assets/images/NCE_Logo.gif"
              alt="NovaComp Engineering, Inc."
            />
          </a>
          <h1 class="title">NovaComp Engineering, Inc.</h1>
          <p class="small-text">Established 1990</p>
          <p class="small-text">PO Box 1493, Bothell, WA 98041</p>
          <p class="small-text">Phone: (425) 485-0503 | Fax: (425) 485-1953</p>
          <p class="small-text">
            Email:
            <a href="mailto:solutions@nceinc.com" class="email-link"
              >solutions@nceinc.com</a
            >
          </p>
        </header>
        <main>
          <p>
            NovaComp Engineering, Inc. is committed to provide accurate and cost
            efficient engineering services to industries nationwide. The
            expertise and experience of NovaComp’s staff combined with
            state-of-the-art computing and analysis tools yields the capability
            to solve complex linear and nonlinear problems in the fields of heat
            transfer, stress analysis, structural dynamics, and fluid flow.
          </p>
          <p>
            The strength of NovaComp Engineering, Inc. is attributed not only to
            the experience and expertise of the staff, but its ability to
            network with other individuals and companies in order to achieve the
            customers’ project goals in a timely and cost efficient manner.
          </p>
          <p>
            For customers who prefer to have in-house analysis capabilities,
            NovaComp is qualified to install the finite element code, MARC, and
            provide on-site training. Annual FEA classes are also held by
            NovaComp at various northwest locations.
          </p>
          <h2>Benefits:</h2>
          <p>
            Services provided by NovaComp yield results which benefit companies
            related to the following product development stages,
          </p>
          <ul>
            <li>Product design evaluation</li>
            <li>Product design optimization</li>
            <li>Manufacturing process optimization</li>
            <li>Troubleshooting</li>
            <li>Failure analysis</li>
          </ul>
          <h2>Deliverables:</h2>
          <p>
            NovaComp delivers a bound final report which describes all input
            parameters, contains graphical output of all relevant results, draws
            conclusions based on the analysis results, and makes recommendations
            for design improvement.
          </p>
        </main>
        <%- include('partials/footer') %>
      </div>
    </div>
    <script>
      document
        .querySelector('.menu-toggle')
        .addEventListener('click', function () {
          document.querySelector('.sidebar').classList.toggle('show');
        });
    </script>
  </body>
</html>
