<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="robots" content="noindex" />
    <%- include('partials/meta') %>
    <link rel="canonical" href="/" />
    <title>Sierra Cybernetics - Trusted Partner for 35+ Years</title>
    <meta name="author" content="Sierra Cybernetics" />
    <meta
      name="description"
      content="Providing Software Engineering, C4I Systems, Document Imaging, and Systems Integration for Government and Private Industry."
    />
    <meta
      name="keywords"
      content="Sierra Cybernetics, Software Engineering, C4I Systems, Document Imaging, Systems Integration, Workflow"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Sierra Cybernetics - Trusted Partner for 35+ Years"
    />
    <meta
      property="og:description"
      content="Providing Software Engineering, C4I Systems, Document Imaging, and Systems Integration for Government and Private Industry."
    />
    <meta property="og:url" content="/" />
    <meta property="og:site_name" content="Sierra Cybernetics" />
    <meta
      property="og:image"
      content="assets/images/header/sierra_primary.webp"
    />
    <meta property="og:locale" content="en_US" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:domain" content="/" />
    <meta
      name="twitter:title"
      content="Sierra Cybernetics - Trusted Partner for 35+ Years"
    />
    <meta
      name="twitter:description"
      content="Providing Software Engineering, C4I Systems, Document Imaging, and Systems Integration for Government and Private Industry."
    />
    <meta name="twitter:image" content="assets/images/sierra_primary.webp" />
  </head>
  <body>
    <div id="central">
      

      <%- include('partials/header') %>

      <div id="rightside">
        <h1>Sierra Cybernetics News</h1>
        <p>
          This year, Sierra has been awarded new contracts from the following
          agencies:
        </p>
        <ul>
          <li>South Coast Air Quality Management District (SCAQMD)</li>
          <li>California Public Employees Retirement System (CaLPERS)</li>
          <li>
            Los Angeles County Metropolitan Transportation Authority (Metro)
          </li>
          <li>Los Angeles Unified School District (LAUSD)</li>
          <li>Metropolitan Water District of Southern California (MWD)</li>
          <li>Orange County Superior Court</li>
          <li>Port of Los Angeles (POLA)</li>
        </ul>
        <h3>
          <a href="Contracts.htm"
            >See Our Contracts Page for Details of These Plus Our Other Existing
            Contracts</a
          >
        </h3>
        <h3>
          <a href="govPrtnr.htm">A Trusted Government Partner for 35+ Years</a>
        </h3>
        <div class="mission-section">
          <h2>SIERRA'S MISSION</h2>
          <p>
            <strong
              >Provide Quality Information Technology Services and Innovative
              Software Products for Information Management Applications.</strong
            >
          </p>
          <p>
            <strong
              >IN THE PURSUIT OF THIS MISSION, WE WILL ADHERE TO THE FOLLOWING
              PRINCIPLES:</strong
            >
          </p>
          <ul>
            <li>
              <strong>WE WILL BE CUSTOMER-ORIENTED -</strong>
              Customer satisfaction is our highest priority. We will emphasize
              quality in all activities. We will recognize that service is the
              foundation of a successful business. We will strive to achieve
              on-time, within-cost deliveries.
            </li>
            <li>
              <strong>WE WILL FOSTER EMPLOYEE GROWTH -</strong>
              We will encourage a participatory work environment emphasizing
              open, honest communications. We will provide the professional,
              economic, and educational improvement opportunities necessary for
              a stable superior workforce.
            </li>
            <li>
              <strong>WE WILL MAINTAIN CORPORATE INTEGRITY -</strong>
              We will abide by and support the legal and highest ethical
              standards of our profession.
            </li>
          </ul>
        </div>
      </div>
      <%- include('partials/footer') %>
    </div>
    <script src="assets/js/app.js"></script>
  </body>
</html>
