<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/meta') %>
    <link rel="canonical" href="https://www.empstateweb.com/services"/>
    <title>Our Services | EmpState Web</title>
    <meta name="description" content="Discover the wide range of services offered by EmpState Web. From web design and development to digital marketing and SEO, we provide solutions tailored to your business needs.">
    <meta property="og:title" content="Our Services | EmpState Web"/>
    <meta property="og:description" content="Discover the wide range of services offered by EmpState Web. From web design and development to digital marketing and SEO, we provide solutions tailored to your business needs."/>
    <meta property="og:url" content="https://www.empstateweb.com/services"/>
    <meta name="twitter:title" content="Our Services | EmpState Web"/>
    <meta name="twitter:description" content="Discover the wide range of services offered by EmpState Web. From web design and development to digital marketing and SEO, we provide solutions tailored to your business needs."/>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body class="secondary-page">
    <div class="page">
        <%- include('partials/header') %>
        <main class="main">
            <section class="section">
                <div class="container">
                    <h1>Our Services</h1>
                    <div class="grid-row">
                        <div class="services_item">
                            <div class="img-wrap">
                                <img src="/assets/images/services/chatgpt-6.svg" alt="AI Technology Integration" width="50" height="50" loading="lazy">
                            </div>
                            <h4 class="services_item_title">AI Technology Integration</h4>
                            <p class="services_item_text">Implementing cutting-edge AI technologies to enhance your business operations and customer experiences. From machine learning models to AI-driven analytics, we provide advanced solutions tailored to your needs.</p>
                        </div>
                        <div class="services_item">
                            <div class="img-wrap">
                                <img src="/assets/images/services/web-design.svg" alt="Web Design and Development" width="50" height="50" loading="lazy">
                            </div>
                            <h4 class="services_item_title">New York Web Design and Development</h4>
                            <p class="services_item_text">Delivering fully responsive (mobile-friendly) and professional web design services. We create impactful small business websites, WordPress sites, and offer comprehensive project management and ongoing support.</p>
                        </div>
                        <div class="services_item">
                            <div class="img-wrap">
                                <img src="/assets/images/services/web-development.svg" alt="Custom Web App Development" width="50" height="50" loading="lazy">
                            </div>
                            <h4 class="services_item_title">Custom Web App Development</h4>
                            <p class="services_item_text">Developing tailored, database-driven web applications, e-commerce sites, and SaaS (Software as a Service) platforms. All crafted by our expert New York-based developers.</p>
                        </div>
                        <div class="services_item">
                            <div class="img-wrap">
                                <img src="/assets/images/services/website-hosting.svg" alt="Premium Website Hosting" width="50" height="50" loading="lazy">
                            </div>
                            <h4 class="services_item_title">Premium Website Hosting</h4>
                            <p class="services_item_text">Offering fully managed, high-speed website hosting services with 8-processor servers, solid-state drives, and continuous off-site data backup and protection. Experience top-tier hosting right here in New York.</p>
                        </div>
                        <div class="services_item">
                            <div class="img-wrap">
                                <img src="/assets/images/services/google-services.svg" alt="Google Services Integration" width="50" height="50" loading="lazy">
                            </div>
                            <h4 class="services_item_title">Google Services Integration</h4>
                            <p class="services_item_text">Setting up and managing Google Workspace (G-Suite), Gmail for business, Google Drive (Cloud Storage), Google Ads (Adwords), and Google My Business (Google Local). Elevate your business with Google’s powerful tools.</p>
                        </div>
                        <div class="services_item">
                            <div class="img-wrap">
                                <img src="/assets/images/services/seo.svg" alt="SEO and SMO Excellence" width="50" height="50" loading="lazy">
                            </div>
                            <h4 class="services_item_title">SEO and SMO Excellence</h4>
                            <p class="services_item_text">Providing advanced Search Engine Optimization (SEO) and Social Media Optimization (SMO) services. Boost your visibility and engagement with our expert support, including Google My Business (GMB) optimization.</p>
                        </div>
                        <div class="services_item">
                            <div class="img-wrap">
                                <img src="/assets/images/services/marketing.svg" alt="Digital Marketing Strategies" width="50" height="50" loading="lazy">
                            </div>
                            <h4 class="services_item_title">Digital Marketing Strategies</h4>
                            <p class="services_item_text">Executing strategic search engine marketing (SEM) and social media marketing (SMM). Harness the power of Google Ads, Facebook, Twitter, and LinkedIn advertising to grow your business.</p>
                        </div>
                        <div class="services_item">
                            <div class="img-wrap">
                                <img src="/assets/images/services/consulting.svg" alt="Digital Strategy Consulting" width="50" height="50" loading="lazy">
                            </div>
                            <h4 class="services_item_title">Expert Digital Strategy Consulting</h4>
                            <p class="services_item_text">With over 20 years of internet-related experience, we offer a unique, consultative approach to help you achieve your business goals. Let’s create a winning digital strategy together.</p>
                        </div>
                        <div class="services_item">
                            <div class="img-wrap">
                                <img src="/assets/images/services/reputation.svg" alt="Reputation Management Solutions" width="50" height="50" loading="lazy">
                            </div>
                            <h4 class="services_item_title">Reputation Management Solutions</h4>
                            <p class="services_item_text">Monitoring your online presence, responding to reviews (both positive and negative), and managing public relations (PR) efforts to maintain and enhance your business reputation.</p>
                        </div>
                        <div class="services_item">
                            <div class="img-wrap">
                                <img src="/assets/images/services/social-media.svg" alt="Social Media Management" width="50" height="50" loading="lazy">
                            </div>
                            <h4 class="services_item_title">Social Media Management</h4>
                            <p class="services_item_text">Setting up, integrating, and managing your social media profiles. We create and schedule engaging posts for Facebook, LinkedIn, Twitter, Google My Business, and more.</p>
                        </div>
                        <div class="services_item">
                            <div class="img-wrap">
                                <img src="/assets/images/services/cloud.svg" alt="Cloud Computing" width="50" height="50" loading="lazy">
                            </div>
                            <h4 class="services_item_title">Advanced Cloud Computing</h4>
                            <p class="services_item_text">Providing digital asset management, cloud hosting, continuous remote file backups, file sharing, synchronization, and collaboration. Secure your data with virtual hard drives in the cloud.</p>
                        </div>
                        <div class="services_item">
                            <div class="img-wrap">
                                <img src="/assets/images/services/content.svg" alt="Content Creation" width="50" height="50" loading="lazy">
                            </div>
                            <h4 class="services_item_title">Professional Content Creation</h4>
                            <p class="services_item_text">Creating unique, high-quality content tailored to your business. We handle everything from blog posts and articles to press releases, ensuring your content is engaging and authoritative.</p>
                        </div>
                        <div class="services_item">
                            <div class="img-wrap">
                                <img src="/assets/images/services/video.svg" alt="Video Production and Editing" width="50" height="50" loading="lazy">
                            </div>
                            <h4 class="services_item_title">Video Production and Editing</h4>
                            <p class="services_item_text">Offering professional video editing services, including product demos, YouTube/Vimeo videos, and more. We provide high-quality visuals with copyright-free music, voiceovers, titles, transitions, and special effects.</p>
                        </div>
                        <div class="services_item">
                            <div class="img-wrap">
                                <img src="/assets/images/services/email.svg" alt="Email Campaign Management" width="50" height="50" loading="lazy">
                            </div>
                            <h4 class="services_item_title">Email Campaign Management</h4>
                            <p class="services_item_text">Designing and managing effective email campaigns, including list management, opt-in forms, newsletters, and drip campaigns. We use platforms like MailChimp and Constant Contact to maximize your reach.</p>
                        </div>
                        <div class="services_item">
                            <div class="img-wrap">
                                <img src="/assets/images/services/dns.svg" alt="Domain and DNS Services" width="50" height="50" loading="lazy">
                            </div>
                            <h4 class="services_item_title">Domain and DNS Services</h4>
                            <p class="services_item_text">Handling domain name research, registrations, renewals, DNS management, and transfers. We ensure your domain is secure and efficiently managed.</p>
                        </div>
                        <div class="services_item">
                            <div class="img-wrap">
                                <img src="/assets/images/services/graphic.svg" alt="Graphic Design and Photography" width="50" height="50" loading="lazy">
                            </div>
                            <h4 class="services_item_title">Graphic Design and Photography</h4>
                            <p class="services_item_text">Delivering professional graphic design services, including logo creation, company branding, custom website graphics, and digital photography. We enhance your brand’s visual identity with creative expertise.</p>
                        </div>
                    </div>
                    <div class="flex-row-services">
                        <a href="/contact" class="project_link black">GET A QUOTE</a>
                        <a href="tel:+19414020472" class="project_link colors">CALL +1 (941) 402-0472</a>
                    </div>
                </div>
            </section>
        </main>
        <%- include('partials/footer') %>
    </div>
    <script src="assets/js/app.js"></script>
</body>
</html>
