:root{--font-family:"Inter",sans-serif;--second-family:"Raleway",sans-serif;--third-family:"Limelight",sans-serif;--font3:"Italiana",sans-serif;--font4:"Just Me Again Down Here",sans-serif;--content-width:1765px;--content-fluid-width:1690px;--container-offset:70px;--container-width:calc(var(--content-width) + (var(--container-offset) * 2));--container-fluid-width:calc(var(--content-fluid-width) + (var(--container-offset) * 2));--light-color:#fff;--accent-color:#d52027;--dark-color:#141024;--text-colot:rgba(#141024,0.7)}@media (max-width:1250px){:root{--container-offset:30px}}.custom-checkbox__field:checked+.custom-checkbox__content:after{opacity:1}.custom-checkbox__field:focus+.custom-checkbox__content:before{outline:2px solid red;outline-offset:2px}.custom-checkbox__field:disabled+.custom-checkbox__content{opacity:.4;pointer-events:none}*,:after,:before{box-sizing:border-box}img{height:auto;max-width:100%;object-fit:cover}a{text-decoration:none;color:inherit}.btn-reset{border:none;padding:0;background-color:transparent;cursor:pointer}.list-reset{list-style:none;margin:0;padding:0}.h-reset{margin:0;font-size:inherit}.flex-row{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center}.section{max-width:2240px;margin-left:auto;margin-right:auto;}.project_link{font-weight:700;font-size:22px;padding:10px 20px;border:1px solid transparent;border-radius:150px;text-transform:uppercase;white-space:nowrap}.project_link.white{color:#fff;background-color:transparent;border-color:#fff;font-weight:400}.project_link.black{background:#fff;color:#000}.project_title{margin:0;font-family:var(--third-family);font-weight:400;font-size:clamp(37px,4vw,47px);line-height:160%;color:#fff}.project_title.black{color:#000}.grid-row{display:grid}.flex-column{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column}body,html{height:100%;color:#000;margin:0;font-family:var(--font-family);background-color:#fff}.main{height:100%;-ms-flex:1 0 auto;flex:1 0 auto}::-webkit-scrollbar{width:8px}::-webkit-scrollbar-track{background:#f1f1f1}::-webkit-scrollbar-thumb{background:#888;border-radius:16px}::-webkit-scrollbar-thumb:hover{background:#555}*,html{scrollbar-width:thin;scrollbar-color:#fff #fff}*,body{-ms-overflow-style:scrollbar}body:has(.header_mobile.active){overflow:hidden;padding-right:var(--scrollbar-width)}.container{width:100%;max-width:var(--container-width);margin:0 auto;padding:0 70px}@media (max-width:1250px){.container{padding:0 30px 0 16px}}.page{overflow:hidden;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;min-height:100%}.header{position:absolute;top:0;left:0;right:0;z-index:8;padding:16px 0}.header>.container>.flex-row{-ms-flex-pack:justify;justify-content:space-between;gap:46px}.header .header_logo{max-width:116px;max-height:80px}.header nav{margin-left:auto}@media (max-width:1150px){.header nav{display:none}}.header nav+.flex-row{gap:13px}@media (max-width:1150px){.header nav+.flex-row{display:none}}.header nav+.flex-row .header_mess{width:20px;height:20px}.header nav+.flex-row .header_tel{font-weight:700;font-size:20px;color:#fff}.header .header_menu{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;gap:10px}.header .header_menu a{font-weight:600;font-size:15px;color:black;text-transform:uppercase}.header_mobile{visibility:hidden;opacity:0;transform: translateX(100%);position:fixed;inset:0;z-index:1;background-position:50%;background-size:cover;background-repeat:no-repeat;background-position:top;transition:all .3s linear}.header_mobile:after{position:fixed;inset:0;background:#091e23;opacity:.8;-webkit-backdrop-filter:blur(7px);backdrop-filter:blur(7px);content:""}.header_mobile.active{visibility:visible;opacity:1;transform:rotate(0)}.header_mobile_list{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;gap:50px;-ms-flex-align:center;align-items:center;position:relative;z-index:15;height:100%}.header_mobile_list li:last-child{-ms-flex-positive:1;flex-grow:1;display:-ms-flexbox;display:flex;-ms-flex-align:end;align-items:flex-end;padding-bottom:32px;gap:20px}.header_mobile_list li:last-child>a:last-of-type{line-height:1.5}.header_mobile_list li:first-child{padding-top:32px;-ms-flex-positive:1;flex-grow:1;display:-ms-flexbox;display:flex;-ms-flex-align:start;align-items:flex-start}.header_mobile_list li>a{font-weight:700;font-size:24px;letter-spacing:.05em;color:#fff}.burger-menu{display:none}@media (max-width:1150px){.burger-menu{display:-ms-flexbox;display:flex}}.burger-menu{width:28px;height:27px;-ms-flex-direction:column;flex-direction:column;-ms-flex-pack:justify;justify-content:space-between;cursor:pointer;z-index:1000}.burger-menu.active span:nth-child(2){opacity:0}.burger-menu span{display:block;width:28px;height:3px;background-color:#000;transition:all .3s ease;opacity:1}.burger-menu.active span:first-child{transform:rotate(45deg) translate(10px,6px);opacity:.3}.burger-menu.active span:nth-child(3){transform:rotate(-45deg) translate(10px,-7px);opacity:.3}.hero{height:100vh;max-height:992px;background-position:50%;background-size:cover;background-repeat:no-repeat;position:relative;padding-bottom:clamp(10px,3.5vw,75px)}@media (max-width:768px){.hero{background-position:20%}}@media (max-width:576px){.hero{min-height:974px;max-width:unset}}.hero .container{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;-ms-flex-pack:end;justify-content:flex-end;gap:35px;height:100%}.hero .container *{position:relative;z-index:1}.hero .container .flex-row{gap:25px;-ms-flex-wrap:wrap;flex-wrap:wrap}.hero:after{content:"";width:100%;min-height:791px;position:absolute;bottom:0;right:0;left:0;z-index:0;background:linear-gradient(180deg,transparent,#000)}.hero_title{font-family:var(--third-family);font-size:clamp(37px,4vw,72px)}.hero_text,.hero_title{font-weight:400;color:#fff;margin:0}.hero_text{font-family:var(--second-family);font-size:clamp(18px,1.8vw,30px);line-height:125%;display:block}.customize{min-height:clamp(380px,7vw,461px);position:relative}.customize:before{top:0;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='1440' height='85' viewBox='0 0 1440 85' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h1500v25.5L0 85V0z' fill='%23000'/%3E%3C/svg%3E")}.customize:after,.customize:before{position:absolute;left:0;right:0;z-index:3;content:"";width:100%;height:100vh;max-height:115px;background-position:50%;background-size:cover;background-repeat:no-repeat}.customize:after{bottom:0;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='1440' height='85' viewBox='0 0 1440 85' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1500 85H0V59.5L1500 0v85z' fill='%23000'/%3E%3C/svg%3E")}.customize .img-wrap{width:100%;position:relative}.customize .img-wrap img:nth-child(2){display:none}@media (max-width:576px){.customize .img-wrap img:nth-child(2){display:block}}@media (max-width:576px){.customize .img-wrap img:first-child{display:none}}.customize .img-wrap:after{content:"";inset:0;position:absolute;z-index:1;background:linear-gradient(90deg,#fff50f,rgba(255,245,15,0))}.customize .img-wrap img{max-height:461px;width:100%;position:relative;z-index:4}@media (max-width:1150px){.customize .img-wrap img{max-height:400px}}.customize .customize_inner{position:absolute;inset:0;z-index:5;height:100%;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center}.customize p{margin:0;font-family:var(--font4);font-weight:400;font-size:clamp(42px,6.5vw,128px);line-height:98%;text-align:center;color:#000;transform:rotate(-2deg);background-image:linear-gradient(90deg,#fff 0,#fff50f);width:fit-content;background-clip:text;-webkit-background-clip:text;-webkit-text-stroke-color:transparent;-webkit-text-stroke-width:18px;padding:60px 0}@media (max-width:576px){.customize p br{display:none}}.philosophy{padding:clamp(10px,4.3vw,80px) 0 clamp(20px,6vw,120px);background:#000}.philosophy .project_title{margin-bottom:39px}.philosophy_text{font-family:var(--second-family);font-weight:400;font-size:clamp(20px,1.5vw,30px);line-height:125%;color:#fff;margin:0}.philosophy_text+.philosophy_text{margin-top:30px}.philosophy_text a{text-decoration:underline;-webkit-text-decoration-skip-ink:none;text-decoration-skip-ink:none}.call{background-color:#000}@media (max-width:576px){.call.ready{padding:10px}.call.ready container{padding:0 20px}}.call.ready .call_inner{border-width:0}@media (max-width:1150px){.call.ready .call_inner .flex-row{-ms-flex-wrap:nowrap;flex-wrap:nowrap}}@media (max-width:768px){.call.ready .call_inner .flex-row{-ms-flex-direction:column;flex-direction:column;-ms-flex-align:start;align-items:flex-start;gap:115px}}.call.ready .project_share_mess img{width:48px;height:48px}.call.ready .project_share{gap:14px}@media (max-width:768px){.call.ready .project_share{-ms-flex-direction:column;flex-direction:column;-ms-flex-align:start;align-items:flex-start}.call.ready .project_share:after{display:none}}.call.ready .project_share:after{right:-66px}.call.ready .project_share .project_link{white-space:nowrap;z-index:3}@media (max-width:768px){.call.ready .project_share .project_link:after{position:absolute;content:"";background-size:contain;background-repeat:no-repeat;height:192px;width:760px;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='780' height='250' viewBox='0 0 780 250' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='.3' x='304.46' y='70.644' width='475.04' height='107.724' rx='53.862' stroke='%23000'/%3E%3Crect opacity='.2' x='174.051' y='43.756' width='540.245' height='161.502' rx='80.751' stroke='%23000'/%3E%3Crect opacity='.15' x='.5' y='.5' width='606.429' height='248.013' rx='124.007' stroke='%23000'/%3E%3C/svg%3E");top:50%;right:-167%;transform:translateY(-50%);z-index:2}}.call.ready .call_inner_text{font-weight:600}@media (max-width:430px){.call.ready .call_inner_text{max-width:300px}}.call_inner{background-image:linear-gradient(90deg,#ffffaf 0,#cac3a9);border:11px solid #000;padding:35px 0;position:relative}.call_inner .call_inner_mask{position:absolute;inset:0;z-index:1;object-fit:cover;width:100%;height:100%}.call_inner .flex-row{-ms-flex-pack:justify;justify-content:space-between;gap:20px}@media (max-width:1150px){.call_inner .flex-row{-ms-flex-wrap:wrap;flex-wrap:wrap;gap:50px}}.call_inner *{position:relative;z-index:2}.call_inner_text{font-family:var(--second-family);font-weight:500;font-size:clamp(24px,4vw,32px);color:#000;max-width:774px;margin:0}@media (max-width:1150px){.call_inner_text{max-width:none}.call_inner_text br{display:none}}.project_share{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;gap:4px;position:relative}.project_share .project_link,.project_share .project_share_mess{z-index:3}@media (max-width:500px){.project_share{-ms-flex-direction:column;flex-direction:column;-ms-flex-align:start;align-items:flex-start}.project_share .project_link{position:relative}.project_share .project_link:after{position:absolute;content:"";background-size:contain;background-repeat:no-repeat;height:192px;width:760px;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='780' height='250' viewBox='0 0 780 250' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='.3' x='304.46' y='70.644' width='475.04' height='107.724' rx='53.862' stroke='%23000'/%3E%3Crect opacity='.2' x='174.051' y='43.756' width='540.245' height='161.502' rx='80.751' stroke='%23000'/%3E%3Crect opacity='.15' x='.5' y='.5' width='606.429' height='248.013' rx='124.007' stroke='%23000'/%3E%3C/svg%3E");top:50%;right:-73%;transform:translateY(-50%);z-index:2}}.project_share:after{content:"";width:760px;height:249px;background-size:contain;background-repeat:no-repeat;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='780' height='250' viewBox='0 0 780 250' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='.3' x='304.46' y='70.644' width='475.04' height='107.724' rx='53.862' stroke='%23000'/%3E%3Crect opacity='.2' x='174.051' y='43.756' width='540.245' height='161.502' rx='80.751' stroke='%23000'/%3E%3Crect opacity='.15' x='.5' y='.5' width='606.429' height='248.013' rx='124.007' stroke='%23000'/%3E%3C/svg%3E");position:absolute;right:-50px;top:50%;transform:translateY(-50%);z-index:2}@media (max-width:500px){.project_share:after{display:none}}.services{padding-top:clamp(45px,7vw,105px);padding-bottom:clamp(58px,6vw,95px)}.services .grid-row{padding-top:clamp(55px,6vw,107px);padding-bottom:67px;gap:60px;grid-template-columns:repeat(auto-fit,minmax(320px,1fr))}@media (max-width:1650px){.services .grid-row{grid-template-columns:repeat(auto-fit,minmax(270px,1fr))}}@media (max-width:1440px){.services .grid-row{margin-right:calc(0px - var(--container-offset));grid-template-columns:repeat(auto-fit,minmax(230px,1fr))}}@media (max-width:768px){.services .grid-row{padding-bottom:60px}}.services .flex-row{-ms-flex-pack:center;justify-content:center;gap:30px}@media (max-width:576px){.services .flex-row{gap:10px}}.services .flex-row .project_link.black{border-color:#000}.services .flex-row .project_link{font-weight:500}.services_item_title{font-weight:400;font-size:17px;line-height:129%;color:#000;margin:0}.services_item_text{font-family:var(--second-family);font-weight:400;font-size:15px;line-height:133%;color:#656565;margin:0}.services_item{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;gap:15px}.services_item .img-wrap{margin-bottom:7px}.services_item .img-wrap img{max-width:40px;}@media (max-width:576px){.services .project_link{font-size:16px}}.projects{background:hsla(42,15%,83%,.4);padding-top:88px;padding-bottom:110px}@media (max-width:768px){.projects{padding-top:58px;padding-bottom:62px}}.projects .projects_fluid{width:100vw;max-width:calc(1920px - var(--container-offset) * 2)}.projects .projects_fluid .swiper-projects{padding-top:70px;padding-bottom:46px}@media (max-width:768px){.projects .projects_fluid .swiper-projects{padding-top:54px}}.projects_item{grid-column:4 span;background-color:#eee;font-weight:700;font-size:11px;line-height:153%;color:#fff;position:relative}.projects_item:before{position:absolute;top:0;left:-195px;bottom:67px;right:0;z-index:-1;content:"";filter:blur(30px);background:linear-gradient(90deg,hsla(44,18%,71%,0),#000);opacity:.3}.projects_item span{background:#000;padding:5px;display:block;margin-bottom:2px}.projects_item .img-wrap,.projects_item .img-wrap img{width:100%}.projects_item .flex-column{padding:20px}.projects_item_title{margin:0;margin-bottom:15px;font-weight:400;font-size:17px;line-height:129%;color:#000}.project_item_text{margin:0;margin-bottom:20px;font-size:15px;line-height:133%;color:#000}.project_item_text,.projects_item_link{font-family:var(--second-family);font-weight:400}.projects_item_link{display:block;font-size:13px;line-height:160%;color:#0042ec}.projects_more{font-size:clamp(14px,3vw,17px);}.footer{padding-top:35px;padding-bottom:75px;background:#000;width:100%}.footer .container .flex-row:first-of-type{-ms-flex-pack:justify;justify-content:space-between;gap:30px;margin-bottom:100px}@media (max-width:992px){.footer .container .flex-row:first-of-type{padding-bottom:30px;margin-bottom:0;border-bottom:2px solid #333;-ms-flex-direction:column;flex-direction:column;-ms-flex-align:start;align-items:flex-start}}.footer .container .flex-row:first-of-type .flex-column:first-of-type{gap:28px}.footer .container .flex-row:first-of-type .flex-column:last-of-type{gap:46px}@media (max-width:576px){.footer .container .flex-row:first-of-type .flex-column:last-of-type{gap:30px}}.footer .container .flex-row.footer_copyright{padding-top:60px;gap:35px;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:start;justify-content:flex-start;margin-bottom:0}@media (max-width:992px){.footer .container .flex-row.footer_copyright{gap:12px;padding-top:0}.footer .container .flex-row.footer_copyright li:first-child{margin-bottom:8px}}.footer .container .flex-row.footer_copyright a{font-weight:400;font-size:14px;color:#9c9c9c}.footer .container .grid-row{grid-template-columns:repeat(auto-fit,minmax(200px,1fr));gap:clamp(30px,8vw,139px);padding-bottom:65px;border-bottom:2px solid #333}@media (max-width:992px){.footer .container .grid-row{padding-top:35px;border-bottom:none;gap:72px;padding-bottom:43px}}.footer_logo img{max-width:120px;max-height:80px}.footer_text{font-size:16px;line-height:162%;max-width:470px;margin:0}.footer_tel,.footer_text{font-weight:400;color:#fff}.footer_tel{font-family:var(--font-family);font-size:28px}.footer_social{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;gap:15px;-ms-flex-pack:end;justify-content:flex-end}@media (max-width:992px){.footer_social{-ms-flex-pack:start;justify-content:flex-start}}.footer_menu{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;gap:20px}@media (max-width:992px){.footer_menu{position:relative}.footer_menu:nth-child(3):before,.footer_menu:nth-child(4):before{content:"";position:absolute;top:-36px;width:1000vw;left:-100vw;right:100vw;z-index:1;height:2px;background-color:#333}}@media (max-width:576px){.footer_menu:first-child::before,.footer_menu:nth-child(2):before{content:"";position:absolute;top:-36px;width:1000vw;left:-100vw;right:100vw;z-index:1;height:2px;background-color:#333}}.footer_menu li a{font-weight:400;font-size:16px;color:#c6baaa}.footer_menu li.menu_title a{font-weight:700;font-size:16px;color:#fff;display:-ms-inline-flexbox;display:inline-flex;-ms-flex-align:center;align-items:center;gap:10px}.footer_menu li.menu_title a:after{content:"";width:70px;height:10px;background-repeat:no-repeat;background-size:contain;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='70' height='9' viewBox='0 0 70 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 0h66l-4 9H0l4-9z' fill='%23fff'/%3E%3C/svg%3E");display:-ms-inline-flexbox;display:inline-flex}.secondary-page .main {padding-top: 150px;}h1 {font-size: 2.5rem;margin-bottom: 20px;font-weight: bold;}p{font-size: 1.1rem;line-height: 1.8;margin-bottom: 15px;}

.project_link.colors {
    color: #000;
    background: linear-gradient(90deg, #c2ded6, #78b2a2, #c2ded6);
    background-size: 300% 100%;
    transition: color 0.3s ease, background-position 0.3s ease;
}

.project_link.colors:hover {
    color: #000;
    animation: gradientShiftColors 1.5s ease infinite;
}

@keyframes gradientShiftColors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.project_link.yellow {
    color: #000;
    background: linear-gradient(90deg, #ffffaf, #f5e97c, #ffffaf);
    background-size: 300% 100%;
    transition: color 0.3s ease;
}

.project_link.yellow:hover {
    color: #000;
    animation: gradientShift 1.5s ease infinite;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.pump {
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pump:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.h1 {
    font-family:var(--third-family);font-size:clamp(37px,4vw,72px); color: #000;
    text-decoration: underline;
}

.text{font-family:var(--second-family);font-size:clamp(18px,1.8vw,30px);line-height:125%;display:block}

@media (max-width: 768px) {
    .header_mobile_list {
        gap: 30px;
    }
}

@media (max-width: 480px) {
    .header_mobile_list {
        gap: 20px;
    }
}

.header {
    transition: background-color 0.5s, border-bottom 0.5s, opacity 0.5s;
}

.header a {
    color: black;
}

.header.sticky {
    background-color: rgba(219, 215, 206);
    position: fixed;
    top: 0;
    width: 100%;

    border-bottom: 2px solid black;
    /* backdrop-filter: blur(5px); */
}

.header.sticky-solid {
    background-color: #000;
}

.header-home {
    background-color: transparent;
}

.header-home .header_menu a {
    color: white;
}

.header-home.sticky .header_menu a {
    color: white;
}

.header-home.sticky {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-home.sticky-solid {
    background-color: rgba(0, 0, 0, 0.8);
}

.header_menu li a {
    position: relative;
    display: inline-block;
    color: #000;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    transition: color 0.5s;
}

.header-home .header_menu li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
}

.header-home .header_menu li a:hover::after {
    width: 100%;
}

.header:not(.header-home) .header_menu li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: black;
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.header:not(.header-home) .header_menu li a:hover::before {
    opacity: 1;
}

.header:not(.header-home) .header_menu li a:hover {
    color: white;
}


.header nav + .flex-row .header_tel {
  font-weight: 700;
  font-size: 20px;
  color: black;
}

.header-home nav + .flex-row .header_tel {
  color: white;
}



/* burger */
.header-home .burger-menu span {
    background-color: white;
}
.burger-menu.active span {
    background-color: white;
}



/* services */


/* pricing */
.pricing-table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.pricing-column {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.pricing-column::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: top;
    opacity: 0.3;
    border-radius: 8px;
    z-index: -1;
}

.pricing-column.basic-website::before {
    background-image: url('./assets/images/services/wordpress-drupal-joomla.webp');
}

.pricing-column.advanced-business-site::before {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Chrysler_Building_by_David_Shankbone_Retouched.jpg/360px-Chrysler_Building_by_David_Shankbone_Retouched.jpg');
}

.pricing-column.interactive-web-application::before {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/One_World_Trade_Center_Building_%282021%29.jpg/500px-One_World_Trade_Center_Building_%282021%29.jpg');
}

.pricing-column.ecommerce-saas-solutions::before {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Front_view_of_Statue_of_Liberty_with_pedestal_and_base_2024.jpg/500px-Front_view_of_Statue_of_Liberty_with_pedestal_and_base_2024.jpg');
}

.pricing-column:hover {
    transform: scale(1.05);
}

.pricing-column h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

.pricing-column .price {
    font-size: 2em;
    font-weight: bold;
    margin: 10px 0;
    color: #1EA5A5;
}

.pricing-column .term {
    font-size: 1em;
    margin-bottom: 20px;
    color: #666;
}

.pricing-column ul {
    padding: 0;
    list-style: none;
}

.pricing-column ul li {
    margin-bottom: 10px;
    line-height: 1.4em;
    color: #555;
}

.contact-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #d52027;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.contact-link:hover {
    background-color: #a3151f;
}

.disclaimer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #555;
}

.additional-services {
    margin-top: 20px;
    list-style: disc;
    padding-left: 20px;
    padding-bottom: 100px;
}

.additional-services li {
    margin-bottom: 10px;
    line-height: 1.4em;
    color: #555;
}

@media (max-width: 1024px) {
    .pricing-table {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .pricing-table {
        grid-template-columns: 1fr;
    }
}


/* Portfolio */

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-bottom: 100px;
}

.portfolio-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    padding: 20px;
}

.portfolio-card:hover {
    transform: scale(1.05);
}

.portfolio-tag {
    background: #000;
    color: #fff;
    padding: 5px;
    display: block;
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
}

.portfolio-image-wrap {
    width: 100%;
    height: 0;
    padding-bottom: 62.5%;
    position: relative;
}

.portfolio-image-wrap img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.portfolio-card-title {
    font-size: 1.25em;
    font-weight: 600;
    margin: 15px 0 10px;
    text-align: center;
}

.portfolio-card-text {
    padding: 0 15px;
    font-size: 1em;
    line-height: 1.5;
    color: #333;
    text-align: center;
}

.portfolio-card-link {
    display: block;
    text-align: center;
    margin: 15px 0;
    color: #0042ec;
    text-decoration: underline;
}

.portfolio-more {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 1em;
    color: #0042ec;
}

@media (max-width: 1024px) {
    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .portfolio-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .portfolio-card-title {
        font-size: 1em;
    }

    .portfolio-card-text {
        font-size: 0.9em;
    }
}

/* Contact Section */

.contact-form {
    max-width: 800px;
    margin: 0 auto 40px;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-group {
    flex: 1;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #1EA5A5;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1.2em;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #15968e;
}

.contact-info,
.customer-service {
    margin: 40px 0;
    text-align: center;
}

.contact-info h3,
.customer-service h3 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #333;
}

 

.customer-service p a {
    color: #1EA5A5;
    text-decoration: none;
}

.customer-service p a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }

    .form-group {
        margin-bottom: 15px;
    }
}


/* blog */
.blog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.blog-post {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-post:hover {
    transform: translateY(-10px);
}

.blog-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-title {
    font-size: 1.5em;
    margin: 15px;
    color: #333;
}

.blog-description {
    font-size: 1em;
    margin: 15px;
    color: #555;
    flex-grow: 1;
}

/* FAQ */
.faq-container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        .faq-item {
            border-bottom: 1px solid #ddd;
            margin-bottom: 15px;
        }
        .faq-question {
            cursor: pointer;
            padding: 15px;
            font-size: 1.2em;
            font-weight: 700;
            color: #000;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #f7f7f7;
            border-radius: 5px;
        }
        .faq-answer {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease;
            padding: 0 15px;
            font-size: 1em;
            color: #555;
            background-color: #fff;
            border-radius: 5px;
        }
        .faq-answer.open {
            max-height: 1000px;
            padding: 15px;
            margin-top: 10px;
        }
        .faq-question:after {
            content: "+";
            font-size: 1.5em;
            transition: transform 0.3s ease;
        }
        .faq-question.active:after {
            transform: rotate(45deg);
        }

@media (max-width: 1024px) {
    .blog-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .blog-grid {
        grid-template-columns: 1fr;
    }
}

/* location */
        .map-container {
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
}

.map-container iframe {
    width: 100%;
    height: 450px;
    max-width: 600px;
    border: 0;
    display: inline-block;
}

/* careers */
         .careers-container {
            max-width: 1000px;
            margin: 0 auto;
            padding: 20px;
        }

        .careers-container h1 {
            font-size: 2.5em;
            margin-bottom: 20px;
            text-align: center;
        }



        .job-listing {
            border-bottom: 1px solid #ddd;
            margin-bottom: 30px;
            padding-bottom: 20px;
        }

        .job-listing h2 {
            font-size: 1.8em;
            margin-bottom: 10px;
        }

        .job-listing h3 {
            font-size: 1.2em;
            color: #666;
            margin-bottom: 15px;
        }



/* process page */
.timeline {
    position: relative;
    max-width: 900px;
    margin: 40px auto;
    padding: 40px 20px;
    background: #f2f2f2;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.timeline-item {
    padding: 30px;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: flex-start;
}

.timeline-item:hover {
    transform: translateY(-5px);
}

.timeline-item::before {
    content: attr(data-step);
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #1EA5A5;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    top: -20px;
    left: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.timeline-item h3 {
    font-size: 1.6em;
    margin-bottom: 15px;
    color: #1EA5A5;
    font-family: var(--second-family);
    margin-left: 60px;
}



@media (max-width: 768px) {
    .timeline {
        padding: 20px 10px;
    }

    .timeline-item {
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .timeline-item::before {
        width: 30px;
        height: 30px;
        font-size: 1em;
        top: -15px;
        left: -15px;
    }

    .timeline-item h3 {
        font-size: 1.4em;
        margin-left: 40px;
    }


}

/* slider */
.projects-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    white-space: nowrap;
    padding: 30px 20px;
    align-items: flex-start;
}

.project-item {
    flex: 0 0 auto;
    width: 300px;
    background: #f4f4f4;
    border: 1px solid #ccc;
    padding: 15px;
    box-sizing: border-box;
    text-align: left;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.project-item img {
    width: 100%;
    height: auto;
}

.projects_item_title {
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
    color: #000;
}

.project_item_text {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.projects_item_link {
    font-size: 14px;
    color: #007BFF;
    text-decoration: none;
}

.projects_item_link:hover {
    text-decoration: underline;
}

.projects-wrapper::-webkit-scrollbar {
    height: 8px;
}

.projects-wrapper::-webkit-scrollbar-thumb {
    background: #888;
}

.projects-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.project-label {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    box-sizing: border-box;
}